<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Insérer le titre ici</title>
</h:head>
<h:body>
	<f:view>
		<h:form>
			<table>

				<tr>
					<td><h:outputLabel for="name" value="Name" /></td>
					<td><h:inputText id="name" value="#{userManagedBean.name}" /></td>
				</tr>

				<tr>
					<td><h:outputLabel for="username" value="Username" /></td>
					<td><h:inputText id="username"
							value="#{userManagedBean.username}" /></td>
				</tr>

				<tr>
					<td><h:commandButton id="submit" value="Submit" action="#{userManagedBean.save}" /></td>
					<td><h:commandButton id="reset" value="Reset"  /></td>
				</tr>
			</table>


		</h:form>
	</f:view>
</h:body>
</html>