<h3>Create Employee</h3>
<div [hidden]="submited">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="employee.firstname" >
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="employee.lastname" >
    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" id="email" name="email" class="form-control" [(ngModel)]="employee.email" >
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>


<div [hidden]="!submited">
<h4>your employee is added with succes</h4>
  <button (click)="gotolist()" class="btn btn-success">Submit</button>
</div>
