<!DOCTYPE html> <html lang="fr"
xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"> <h:head>
<title>Insérer le titre ici</title> </h:head>
<h:body> 
      
</h:body> 
</html>