<ng-content select="app-titre"></ng-content>

<ul>

  <app-fils ordre="0" villeNaissance="{{ tab[0] }}"></app-fils>
  <app-fils ordre="1" villeNaissance="{{ tab[1] }}"></app-fils>
  <app-fils ordre="2" villeNaissance="{{ tab[2] }}"></app-fils>

</ul>

<button (click)="displayAll()">Display all</button>
