<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">


<h:head>
</h:head>

<h:body>

     <h3> hello </h3>
     
     <h:outputText value="#{personBean.name}"></h:outputText>
     	
</h:body>
</html>
