<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

<f:loadBundle basename="ma.projet.jsf.properties.messages" var="msg"></f:loadBundle>

<h:head>
</h:head>

<h:body>

     <h3> <h:outputText value="#{msg.header}"></h:outputText>  </h3>
     <h:form>
     	<h:inputText id="name" value="#{personBean.name}"></h:inputText>
     	<h:commandButton value="#{msg.submit}" action="person" ></h:commandButton>
     </h:form>
</h:body>
</html>
