.ck_label{
    display:inline-block;
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: relative;
}
/* Cacher le bouton checkbox */
 .btn_chb{
      display:none;
 }
 /* mettre tous les éléments "span" frères du bouton checkbox en inline-block pour pouvoir les aligner et changer leurs dimensions    */
 .btn_chb~span{
     display: inline-block;
    width: 100px;
    height: 40px;
    color:white;
     border-radius: 20px;
     vertical-align: middle;
     opacity: 0.7;
     font-size: 1.5em;
     line-height: 1.6;
     font-weight: bold;
              /* positionner tous les span par rapport à leurs parent "label" */
     position: absolute;
     top:0;
     left:0;

 }
 /* Style initial du span Non*/
 #snon{
     background: #e74c3c;
     text-align: right;
    padding-right:5px;
    transition: all 0.5s ease;

 }
 /* Style initial du span "OUI", avec "opacity=0" pour le rendre invisible*/
  #soui{
     background: #2ecc71;
     text-align: left;
    padding-left:5px;
    opacity: 0;
    transition: all 0.5s ease;
 }
  /* style du petit span rond */
 #round{
     width: 40px;
    height: 40px;
    top:auto;
     border-radius: 100px;
    background:white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    opacity: 1;
    transition: all 0.5s ease; 
   
 }
 /* Après changement de l’état du checkbox en "checked" par le clic
de l'utilisateur, on déplace le span rond et on affiche le span "OUI"  */
 .btn_chb:checked ~ #round{
     left:70px;
 }
.btn_chb:checked~#soui{
     opacity: 1;
 }
