<div class="navbar navbar-expand-sm bg-primary navbar-dark">
   <ul class="navbar-nav">
     <li class="nav-item">
       <a routerLink="employees" class="nav-link" routerLinkActive="active">Employees List</a>
     </li>
     <li class="nav-item">
       <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee </a>
     </li>
   </ul>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container">
    <span> All Rights Reserved 2020 @enabel</span>
  </div>
</div>
