<p>adresse works! the address is </p>
<ul>
  <li>Rue : {{ rue }} </li>
  <li>Code Postal : {{ codePostal }} </li>
  <li>Ville : {{ ville }} </li>
</ul>

<a routerLink="{{ goToStagiaire() }}"> go to stagiaire</a>
