<p>menu works!</p>
<ul>
  <li><a routerLink='' routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }"> Accueil </a></li>
  <li routerLinkActive=active><a routerLink='stagiaire/baddi/youssef'> Stagiaire avec baddi youssef</a></li>
  <li routerLinkActive=active><a routerLink='stagiaire/sara/kiass'> Stagiaire avec sara kiass </a></li>
  <li routerLinkActive=active><a routerLink='{{ lienStagiaire }}'> Stagiaire  avec lien stagiare</a></li>
  <li routerLinkActive=active><a routerLink='adresse'> Adresse </a></li>
  <li routerLinkActive=active><a routerLink='adresse' [queryParams]="{ ville: 'Marseille',
        codepostal: '13000', rue: 'paradis'}"> Adresse </a></li>
  <li routerLinkActive=active><a routerLink='person'> Person </a></li>
  <li routerLinkActive=active><a routerLink='pere'> Pere </a></li>
  <li routerLinkActive=active><a routerLink='list'> list </a></li>
</ul>

