<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
</div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Secondname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <th>{{ employee.id}}</th>
        <th>{{ employee.firstname}}</th>
        <th>{{ employee.lastname }}</th>
        <th>{{ employee.email }}</th>
        <th>
          <button routerLink="/employees/update/{{ employee.id }}" class="btn btn-info">Edit </button>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete </button>
          <button (click)="employeeDetails(employee.id)" class="btn btn-info">Details </button>
          <button type="button" (click)="displayEmployeeDetails(employee.id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            details modal
          </button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>

</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="employee">
          <div>
            <label><b>First Name :</b></label> {{employee.firstname}}
          </div>
          <div>
            <label><b>Last Name :</b></label> {{employee.lastname}}
          </div>
          <div>
            <label><b>Email :</b></label> {{employee.email}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
