<h2>Employer details</h2>

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>First Name :</b></label> {{employee.firstname}}
  </div>
  <div>
    <label><b>Last Name :</b></label> {{employee.lastname}}
  </div>
  <div>
    <label><b>Email :</b></label> {{employee.email}}
  </div>
</div>

<hr/>
<button (click)="list()" class="btn btn-primary">back to the list</button>
