<ul>
  <li><a routerLink='' routerLinkActive=active [routerLinkActiveOptions]="{ exact: true }"> Accueil </a></li>
  <li routerLinkActive=active><a routerLink='stagiaire'> Stagiaire </a></li>
  <li routerLinkActive=active><a routerLink='adresse'> Adresse </a></li>
</ul>
