<p>pokemon works!</p>
<ul>
  <li> Id: {{ pokemon.id }}</li>
  <li> Hp: {{ pokemon.hp }}</li>
  <li> Cp: {{ pokemon.cp }}</li>
  <li> Name: {{ pokemon.name }} </li>
  <li> Picture: {{ pokemon.picture }} </li>
  <li> Types: {{ pokemon.types }} </li>
  <li> Created: {{ pokemon.created }} </li>
</ul>
