<form [formGroup]="personneForm" (ngSubmit)='afficherTout()'>
  <div>
    Identifiant : <input type="number" formControlName="id">
  </div>
  <div>
    Nom : <input type="text" formControlName="nom">
  </div>
  <div>
    Prenom : <input type="text" formControlName="prenom"></div>
  <div formGroupName="adresse">
    <h3>Adresse</h3>
    <div>
      Rue : <input type="text" formControlName="rue">
    </div>
    <div>
      Ville : <input type="text" formControlName="ville">
    </div>
    <div>
      Code postal : <input type="text" formControlName="codePostal">
    </div>
  </div>

    <div formArrayName="sports">
      <h3>Sports </h3>
      <button type=button (click)="ajouterSport()">
        Ajouter sport
      </button>
      <div *ngFor="let sport of sports.controls; let i=index">
        <div>
          Sport :
          <input type="text" [formControlName]="i">  <button (click)="deleteSport(i)">delete</button>
        </div>
      </div>
    </div>

  <button [disabled]='!personneForm.valid'>Envoyer</button>
</form>

<div>
  <ul>
    <li *ngFor="let personne of personnes"> {{ personne.id }} {{ personne.nom }}
      <button (click)="deletePersonne(personne.id)">delete</button>
    </li>
  </ul>
</div>
