
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>First Page with Express</title>
</head>
<body>
    <a href="/produit/create">add new produit</button>
    <%= produits %>
<h1>Produit table</h1>
    <table border="1px">
        <thead>
            <td>id</td>
            <td>nom</td>
            <td>prix</td>
            <td>stock</td>
            <td>Actions</td>
        </thead>
        <% for(var i = 0 ; i < produits.length; i++){ %>
        <tr>
            <td> <%= produits[i].id %> </td>
            <td><%= produits[i].nom %></td>
            <td><%= produits[i].prix %></td>
            <td><%= produits[i].stock %></td>
            <td> <a>edit</a> <a>delete</a></td>
        </tr>
        <% } %>
        
    </table>
    
    
    
    
</form>
</body>
</html>