
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>First Page with Express</title>
</head>
<body>
<h1>form</h1>
<form method="post" action="/produit/save ">
    <% if(error) { %>
    <label style="color: red; display: None;    ">error</label>
    <% } %>
    <table>
        <tr>
            <td><label> nom</label></td>
            <td><input id="nom" name="nom" type="text"> <br></td>
        </tr>

        <tr>
            <td><label> Prix</label></td>
            <td><input id="prix" name="prix" type="number"> <br></td>
        </tr>

        <tr>
            <td><label> Prix</label></td>
            <td><input id="stock" name="stock" type="number"> <br></td>
        </tr>


        <tr>
            <td><input type="reset" value="Reset"></td>
            <td><input type="submit" value="submit"></td>
        </tr>
        
    </table>
    
    
    
    
</form>
</body>
</html>