<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>First Page with Express</title>
</head>
<body>
<h1>form</h1>
<form method="post" action="/form">
    <label> nom</label>
    <input id="nom" name="nom" type="text"> <br>
    <label> prenom</label>
    <input id="prenom" name="prenom" type="text"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>